/* custom stylesheet */

/* some materialize body styles */
.icon-block .section .container .row{
    padding: 0!important;
}

.icon-block .material-icons{
	font-size: inherit;
}

.modal{
    padding: 6px !important;
}

img{
    max-height: 100%;
    max-width: 100%;
}

body{
    background-image: url("../img/bg.jpg");
    background-color: #b3bfd5;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden{
    opacity: 0;
}

.fixed{
    position: fixed;
    z-index: 20;
    background-color: #b3bfd5!important;
}

.centerInfo{
    padding-top: 50px;
}